<% layout('/layouts/boilerplate') %>
<section class="card-container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="alert alert-danger" role="alert">
        <h3><%= err.status %></h3>
        <span><%= err.message %></span>
        <% if (process.env.NODE_ENV !== 'production') {%> 
        <span> <%= err.stack %> </span>
        <% } %> 
      </div>
    </div>
</section>